<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Native Plugin
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Native Plugin</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-button (click)="onClickCapacitorBrowser()">CapacitorBrowser</ion-button>
  <ion-button (click)="onClickInAppBrowser()">InAppBrowser</ion-button>
  <ion-button (click)="onClickFileOpener()">FileOpener</ion-button>
  <ion-button (click)="onClickDocumentViewer()">DocumentViewer</ion-button>
</ion-content>
